.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "ChaletComprime";
  color: #fff;
  list-style-type: none;
  margin-top: 4em;
}

.project {
    border:
      3px     
      outset   
      rgba(0, 0, 0, 0.55);
      background:#feda852e; 
      display: grid;
      width: 24vw;
      box-sizing: border-box;
}

.project img {
    display: flex;
    position: relative;
    width: 100%;
    opacity: 0.75;
}

.project img:hover {
    opacity: 1;
}

.project_description {
    display: grid;
    gap: 0.1em;
    min-height: 26vh;
    margin: 0;
    padding: 0.5em;
}

.project h2 {
    text-align: left;
    letter-spacing: 0.1vw;
    font-size: 2em;
}

.project p {
    display: block;
    min-height: 4em;
    text-align: justify;
    font-size: 1.5em;
}

.github {
    padding: 0.1em 0.3em 0.1em 0.5em;
    width: auto;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.2em;    
    margin: 0 0 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0.8;
}

.github:hover {
    color: #fed985;
    background-color: #000;
    opacity: 1;
}


@media all and (orientation: portrait), all and (max-width: 1000px) {
    #projects {
        padding: 4em;
    }
    
    .portfolio {
        display: grid;
        flex: none;
        position: relative;
        font-family: "ChaletComprime";
        color: #fff;
        list-style-type: none;
        margin-top: 4em;
        gap: 8em;
      }
   
      .project {
        border:
          3px     
          outset   
          rgba(0, 0, 0, 0.55);
          background:#feda852e; 
          display: grid;
          width: 72vw;
          box-sizing: border-box;
    }

    .project_description {
        max-height: 20vh;
        margin: 0;
        padding: 0.1vw;
    }
    
    .project h2 {
        text-align: left;
        letter-spacing: 0.1vw;
        font-size: 6em;
    }
    
    .project p {
        display: block;
        text-align: justify;
        font-size: 4em;
    }
          
    .github {
        padding: 0.1em 0.3em 0.1em 0.5em;
        width: auto;
        font-weight: bold;
        font-size: 4em;
        letter-spacing: 0.1em;    
        margin: 0 0 0 auto;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.55);
        opacity: 0.8;
    }
}

