.rows {
    padding-top: 2em;
    display: grid;
}

.portfolio {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  font-family: "ChaletComprime";
  color: #fff;
  list-style-type: none;
  margin-top: 4em;
}

.project {
    border:
      3px     
      outset   
      rgba(0, 0, 0, 0.55);
      background:#feda852e; 
      display: grid;
      width: 24vw;
      box-sizing: border-box;
}

.project_preview {
    position: relative;
}

.preview {
    width: 100%;
    max-width: 24vw;
}


.visit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  }

  .project_preview:hover .visit {
    opacity: 1;
  }

.project_description {
    display: grid;
    gap: 0.1em;
    min-height: 26vh;
    margin: 0;
    padding: 0.5em;
}

.project h2 {
    text-align: left;
    letter-spacing: 0.1vw;
    font-size: 2em;
}

.project p {
    display: block;
    min-height: 4em;
    text-align: justify;
    font-size: 1.5em;
}

.project_links {
    display: flex;
    margin-left: 8em;
}


.project_links a {
    padding: 0.1em 0.3em 0.1em 0.5em;
    width: auto;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.2em;    
    margin: 0 0.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0.75;
}


.project_links a:hover {
    color: #fed985;
    background-color: #000;
    opacity: 1;
}


@media all and (orientation: portrait), all and (max-width: 1000px) {
    #projects {
        padding: 4em;
    }
    
    .portfolio {
        display: grid;
        flex: none;
        position: relative;
        font-family: "ChaletComprime";
        color: #fff;
        list-style-type: none;
        margin-top: 4em;
        gap: 8em;
      }
   
      .project {
        border:
          3px     
          outset   
          rgba(0, 0, 0, 0.55);
          background:#feda852e; 
          display: grid;
          width: 72vw;
          box-sizing: border-box;
    }

    .project_description {
        max-height: 20vh;
        margin: 0;
        padding: 0.1vw;
    }
    
    .project h2 {
        text-align: left;
        letter-spacing: 0.1vw;
        font-size: 6em;
    }
    
    .project p {
        display: block;
        text-align: justify;
        font-size: 4em;
    }
    
    .project_links {
        display: flex;
        margin-left: 8em;
    }
    
    
    .project_links a {
        padding: 0.1em 0.3em 0.1em 0.5em;
        width: auto;
        font-weight: bold;
        font-size: 4em;
        letter-spacing: 0.2em;    
        margin: 0.3em 0.3em;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
    }
    
    
    .project_links a:hover {
        opacity: 1;
    }

}

