.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "ChaletComprime";
  color: #fff;
  list-style-type: none;
  margin-top: 4em;
}

.project {
    border:
      3px     
      outset   
      rgba(0, 0, 0, 0.55);
      background:#feda852e; 
      display: grid;
      width: 24vw;
      box-sizing: border-box;
}

.project img {
    display: flex;
    position: relative;
    width: 100%;
    opacity: 0.8;
}

.project img:hover {
    opacity: 1;
}

.project h2 {
    margin: 0;
    padding: 0.5vw;
    text-align: left;
    font-size: x-large;
    letter-spacing: 0.1vw;
}

.project p {
    margin: 0;
    padding: 0.5vw;
    font-size: x-large;
    text-align: justify;
}

.github {
    padding: 0.1em 0.3em 0.1em 0.5em;
    width: max-content;
    font-family: "ChaletComprime";
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 0.2em;    
    margin: 0 0.5em 0.5em auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0.8;
}

.github:hover {
    color: #fed985;
    background-color: #000;
    opacity: 1;
}