#skills {
    display: flex;
}

#knuckle {
    width: 8em;
}


.skills_menu {
    padding-top: 12em;
      position: relative;
      margin: 0 auto;
      display: flex;
      justify-content: center;
}

.toggle {
    cursor: pointer;
    position: absolute;
}

.menu {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 12.5em;
    height: 12.5em;
    transform: scale(0);
    transition: 0.7s;
    z-index: -1;
}

.menu a{
    display: block;
    position: absolute;
    transition: 0.4s;
}


.menu a:nth-child(1){
    top: 0.4em;
}

.menu a:nth-child(2){
    top: 2em;
    left: 8.2em;
}

.menu a:nth-child(3){
    top: 7em;
}

.menu a:nth-child(4){
    top: 2em;
    left: 1.6em;
}

