#skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills_menu {
    border:
      3px     
      outset   
      rgba(0, 0, 0, 0.55);
      background:#feda852e; 
      min-width: 54vw;

}

.toggle {
    border-radius: 50%;
    cursor: pointer;
}

.menu {
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    width: 12.5em;
    height: 12.5em;
    transform: scale(0);
    transition: 0.7s;
    z-index: -1;
}

.menu a{
    display: block;
    position: relative;
    transition: 0.4s;
    opacity: 0.7;
}

.menu a:nth-child(1){
    /* top: 1.4em;
    left: 2.75em;
} */

.menu a:nth-child(2){
    /* top: 2.9em;
    left: 6.9em; */
}

.menu a:nth-child(3){
    /* top: 7.1em;
    left: 2.75em; */
}

.menu a:nth-child(4){
    /* top: 2.8em;
    left: 1.3em; */
}

