@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

body {
  background-image: url(../src/hero-bg.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
}

nav {
  display: block;
  padding: 0;
  margin: auto auto;
}

main {
  display: flex;
  justify-content: center;
}

.hero {
  display: inline-block;
  position: relative;
  padding: 1em;
  font-style: normal;
  text-align: center;
  color: #fed985;
}

h1 {
  font-family: "ChaletComprimeComprime";
  font-size: 5em;
}

.hero p {
  font-family: "ChaletComprimeComprime";
  font-size: xx-large;
}

footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  padding: 1em;
  font-family: "GrandTheftAuto";
  font-size: x-large;
  font-style: normal;
  color: #fed985;
  text-shadow: 1px 1px 3px #000;
}

.home {
  padding: 0.5rem;
  display: grid;
}

.location {
  font-family: "ChaletComprime";
  font-size: x-large;
  font-style: normal;
  color: #fed985;
}

.logo {
  padding: 0.5em;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "GrandTheftAuto";
  font-size: xx-large;
  list-style-type: none;
  color: #fed985;
}

.nav-links {
  background: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #feda85;
  cursor: pointer;
}

.nav-links:hover {
  color: #feebbd;
}

.active:hover {
  transform:scale(1.2);
  transition: 0.3s;
}


.contact_menu {
  position: absolute;
  opacity: 0;
  border-radius: 0em 0em 0.25em 0.25em;
}

.contact_menu ul {
  display: flex;
  padding: 0.25em 0.25em 0 0.25em;
  list-style: none;
  justify-content: space-between;
  gap: 0.5em;
}

.active:hover .contact_menu {
  opacity: 1;
  position: absolute;
  top: calc(100% + 0.74em);
  background: rgba(0, 0, 0, 0.5);
}


@font-face {
  font-family: "GrandTheftAuto";
  src: url("../fonts/GrandTheftAuto/GrandTheftAuto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ChaletComprime";
  src: url("../fonts/ChaletComprime/ChaletComprime.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
