@font-face {
  font-family: "GrandTheftAuto";
  src: url("../fonts/GrandTheftAuto/GrandTheftAuto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ChaletComprime";
  src: url("../fonts/ChaletComprime/ChaletComprime.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../src/hero_bg.webp);
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  z-index: +1;
  background: rgba(0, 0, 0, 0.7);
}

.logo {
  padding: 0.5em;
  min-width: 5vw;
}

nav {
  display: block;
  padding: 0;
  margin: auto auto;
}


.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "GrandTheftAuto";
  font-size: 2.5em;
  list-style-type: none;
}

.nav-links {
  background: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav-links:hover {
  color: #fed985;
}



.active:hover {
  transform:scale(1.2);
  transition: 0.3s;
}


.dropdown {
  display: flex;
}

.contact_menu {
  position: absolute;
  opacity: 0;
}

.contact_menu ul {
  display: flex;
  padding: 0.25em 0.25em 0 0.25em;
  list-style: none;
  justify-content: space-between;
  gap: 0.5em;
}

.contact_links {
  opacity: 0.5;
}

.contact_links:hover {
  opacity: 1;
}

.active:hover .contact_menu {
  opacity: 1;
  position: absolute;
  left: calc(100% + 0.74em);
}


.home {
  padding: 0.5em 0.5em 0.5em 0;
  display: grid;
  min-width: 5vw;
}

.location {
  font-family: "ChaletComprime";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

main {
  display: flex;
  scroll-snap-type: x mandatory;
  width: 100vw;
  overflow-x: scroll;
}

section {
  flex: none;
  padding: 2em;
  display: flex;
  justify-content: center;
  width: 100vw;
  scroll-snap-align: start;
}

.hero {
  /* border:
    3px     
    outset   
    rgba(0, 0, 0, 0.55);
    background:#feda852e;  */
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 70vh;
    margin-top: 6em;
}

.hero img {
  display: flex;
  position: relative;
  object-fit: cover;
  max-width: fit-content;
  height: 100%;
}

.hero_text {
  display: grid;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: "ChaletComprime";
  text-align: center;
  color: #fff;
}

.hero_text img {
  width: 50%;
  margin: 0 auto;
  height: fit-content;
  margin-top: 2em;
  margin-bottom: 1em;
}

.hero p, h1 {
  margin: 0.1em auto;
  font-size: 2.25em;
  max-width: 100%;
}

footer {
  display: block;
  position: sticky;
  padding: 1em 1em;
}

footer p {
  font-family: "GrandTheftAuto";
  font-size: x-large;
  font-style: normal;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

@media all and (orientation: portrait), all and (max-width: 1000px) {
  body {
    width: 100vw;
    height: 100vh;
    background: url(../src/hero_bg_portrait.webp) no-repeat cover center center fixed;
    margin: 0;
    padding: 0;
  }
  
  .nav-items {
    font-size: 3em;
  }
  

  section {
    padding: 4em 4em 12em 4em;
  }
  
  
  .hero {
    display: grid;
    position: relative;
    width: 64vw;
    height: fit-content;
    margin-top: 6em;
  }
  
  .hero img {
    width: 100%;
    padding: 0.2em;
  }
  
  .hero_text {
    width: 100%;
    height: 30vh;
  }
  
  .hero_text img {
    width: 80%;
    margin: 0 auto;
  }
  
  .hero p, h1 {
    margin: 0 auto;
    font-size: 3em;
    letter-spacing: 0.1em;
  }
}