.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loader {
    position: relative;
    width: 8em;
    height: 8em;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    
    70% {
      transform: scale(1);
      opacity: 1;
    }
    
    100% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    
  }