@font-face {
  font-family: "GrandTheftAuto";
  src: url("../fonts/GrandTheftAuto/GrandTheftAuto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ChaletComprime";
  src: url("../fonts/ChaletComprime/ChaletComprime.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "ChaletComprime";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/bg.webp);
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  z-index: +1;
  background: rgba(0, 0, 0, 0.7);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "GrandTheftAuto";
  font-size: 2.5em;
  list-style-type: none;
  margin: auto auto;
}

nav a {
  background: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav a:hover {
  color: #fed985;
  transform: scale(1.25);
  transition: 0.4s;
}

.non-active {
  color: white;
}

.active {
  color: #fed985;
}

main {
  display: flex;
  width: 100vw;
}

section {
  display: flex;
  justify-content: center;
  padding: 2em;
  width: 100vw;
}

footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.5em;
  bottom: 0;
}

.error_404 {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 10em;
  color: #fff;
  text-shadow: 0.5em 0.5em 1em #000;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.error_404 h1 {
  font-family: "GrandTheftAuto";
  font-size: 12em;
  font-weight: 400;
}

.error_404 h2 {
  padding: 0.25em;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25em 0.25em;
}

.slick-slide {
  padding: 0 2.65em;
}

.slick-dots li button:before {
  color: #fed985 !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: +1;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  padding: 1em;
  border-radius: 0.75em;
  background-color: #faf5ec;
  width: 35vw;
  box-shadow: 0.5em 0.5em 0.5em #000;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal_content.active {
  transform: scale(1);
}


@media all and (orientation: portrait), all and (max-width: 1000px) {

  nav {
    gap: 0.5em;
  }
  
  nav a {
    font-size: 0.625em;
  }
  
  .slick-slide {
    padding: 0 0.25em;
  }
}

