.hero {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 7em;
    gap: 2em;
}

.avatar {
  position: relative;
  width: 11.25em;
  height: 30em;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 16vw;
  height: fit-content;
  text-align: center;
  color: #fff;
}

.name {
  justify-content: center;
  position: relative;
  margin-bottom: 2em;
  width: 15em;
  height: 10em;
}

.quote {
  margin: 0.1em auto;
  max-width: 100%;
  font-size: 2em;
  text-shadow: 0.1em 0.05em rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25em 0.25em;
}

@media all and (orientation: portrait), all and (max-width: 1000px) {
  .hero {
    padding-top: 5em;
    gap: 0.5em;
}

.avatar {
  position: relative;
  margin: 0 auto;
  width: 7.5em;
  height: 20em;
}

.hero_text {
  width: 12em;
  margin-top: 1em;
  height: fit-content;
  text-align: center;
  color: #fff;
}

.name {
  position: relative;
  margin-bottom: 1em;
  width: 12em;
  height: 8em;
}

.quote {
  margin: 0.2em auto;
  max-width: 80%;
  font-size: 1.25em;
  text-shadow: 0.1em 0.05em rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25em 0.25em;
}
}
