.logo {
  position: relative;
  margin: 0.5em;
  width: 40px;
  height: 64px;
}

.nav_links {
  background: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav_links:hover {
  color: #fed985;
  transform: scale(1.2);
  transition: 0.3s;
}

.home {
  padding: 0.5em 1em;
  display: grid;
}

.house {
  position: relative;
  width: 48px;
  height: 48px;
}

.location {
  font-family: "ChaletComprime";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.social {
  display: flex;
  position: absolute;
  padding: 1em 2em;
  gap: 1em;
  bottom: 0;
  left: 0;
}

.icon {
  color:#000;
}

.icon:hover {
  color:#fed985;
}

.copyright {
  display: block;
  position: absolute;
  padding: 1em;
  bottom: 0;
  right: 0;
  font-family: "GrandTheftAuto";
  font-size: x-large;
  font-style: normal;
  color: #fff;
  text-shadow: 0.5em 0.5em 1em #000;
}