.hero {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 9em;
    gap: 2em;
}

.avatar {
  position: relative;
  width: 18em;
  height: 18em;
  border: 5px solid black;
  border-radius: 1em;
}

.avatar img {
  border-radius: 1em;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.75em;
  width: 14em;
  height: fit-content;
  color: #fff;
  text-shadow: 0.1em 0.05em rgb(0, 0, 0);
}

.name {
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
  width: 12em;
  height: 8em;
}

.question, .answer {
  font-size: 1.75em;
}

.answer span {
  letter-spacing: 0.1em;
}


@media all and (orientation: portrait), all and (max-width: 1000px) {
  .hero {
    display: grid;
    padding-top: 5em;
    gap: 0.5em;
}

.avatar {
  width: 15em;
  height: 15em;
  margin: 0 auto;
}

.hero_text {
  margin: 0 auto;
  width: 16em;
  height: fit-content;
}

.name {
  width: 12em;
  height: 8em;
}

.question, .answer {
  width: 80%;
  font-size: 1.5em;
}

}
