.about {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 7em;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.resume_text {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 0.1em 0.1em rgb(0, 0, 0);
}

.resume_icons {
    display: flex;
    gap: 1em;
}

.language {
    position: relative;
    width: 3.5em;
    height: 3.5em;
}

.language:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

@media all and (orientation: portrait), all and (max-width: 1000px) {
    .resume {
        gap: 2em;
    }
    
    .resume_text {
        font-size: 1.25em;
        letter-spacing: 0.05em;
    }    

    .language {
        width: 2.5em;
        height: 2.5em;
    }
}