.about {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 7em;
}

.circular_menu {
    width: fit-content;
    margin-top: 4em;
}

.toggle {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.knuckle {
    position: relative;
    width: 10em;
    height: 10em;
}