.about {
  display: grid;
  width: 100vw;
  gap: 2em;
}

.skills {
  display: grid;
  gap: 2em;
}

.skills h1 {
  font-size: 3em;
  color: white;
  text-shadow: 0.05em 0.05em rgb(0, 0, 0);
}

.skills_card {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.skills_photo {
  position: relative;
  width: 16em;
  height: 16em;
  border: 4px solid black;
  border-radius: 1em;
}

.skills_photo img {
  border-radius: 1em;
}

.skills_text {
  display: grid;
  margin: auto 0;
  gap: 1em;
  max-width: 26em;
  text-align: justify;
  color: white;
}

.skills_stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 1.25em;
}

.skills_stack span {
  padding: 0.1em;
  background: #000;
  border-radius: 0.25em;
}

.skills_text p {
  color: white;
  border-radius: 0.25em;
  font-size: 1.5em;
  text-shadow: 0.05em 0.05em rgb(0, 0, 0);
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.resume_text {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 0.05em 0.05em rgb(0, 0, 0);
}

.resume_icons {
  display: flex;
  gap: 1em;
}

.language {
  position: relative;
  width: 3.5em;
  height: 3.5em;
}

.language:hover {
  transform: scale(1.25);
  transition: 0.5s;
}

@media all and (orientation: portrait), all and (max-width: 1000px) {
  .about {
    gap: 1em;
  }

  .skills {
    gap: 1em;
  }

  .skills_card {
    display: grid;
    gap: 0.5em;
  }

  .skills_photo {
    width: 14em;
    height: 14em;
    margin: 0 auto;
  }

  .skills_text {
    max-width: 18em;
  }

  .skills_stack {
    justify-content: center;
    margin: 0 auto;
    gap: 0.25em;
    font-size: 0.875em;
  }

  .skills_text p {
    font-size: 1.125em;
  }

  .resume {
    gap: 2em;
  }

  .resume_text {
    font-size: 1em;
    letter-spacing: 0.05em;
  }

  .language {
    width: 2.5em;
    height: 2.5em;
  }
}
